@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216deg, 12%, 8%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.rating-box {
  max-width: 400px;
  background: linear-gradient(to bottom right, hsl(213deg, 19%, 18%), hsl(216deg, 12%, 8%));
  padding: 2rem;
  border-radius: 1rem;
}
.rating-box .star .icon {
  padding: 0.75rem;
  border-radius: 100%;
  background-color: hsl(213deg, 19%, 18%);
}
.rating-box .captions .title {
  margin-top: 1.5rem;
}
.rating-box .captions .title h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
.rating-box .captions .description {
  margin-top: 1.5rem;
}
.rating-box .captions .description p {
  line-height: 1.5rem;
  color: hsl(217deg, 12%, 63%);
}
.rating-box .rating {
  margin-top: 1.5rem;
}
.rating-box .rating .points {
  display: flex;
  justify-content: space-between;
}
.rating-box .rating .points input {
  display: none;
}
.rating-box .rating .points input:checked + label {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.rating-box .rating .points label {
  background-color: hsl(213deg, 19%, 18%);
  border-radius: 100%;
  width: 3.25em;
  height: 3.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217deg, 12%, 63%);
  transition: all 0.3s ease;
}
.rating-box .rating .points label:hover {
  background-color: hsl(217deg, 12%, 63%);
  cursor: pointer;
  color: hsl(0deg, 0%, 100%);
}
.rating-box .rating .submit {
  margin-top: 1.5rem;
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  border: none;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.rating-box .rating .submit:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
  cursor: pointer;
}

.thank-you {
  max-width: 400px;
  background: linear-gradient(to bottom right, hsl(213deg, 19%, 18%), hsl(216deg, 12%, 8%));
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thank-you .result {
  background-color: hsl(213deg, 19%, 18%);
  padding: 0.5rem 1rem 0.3rem;
  color: hsl(25deg, 97%, 53%);
  border-radius: 20px;
  margin-top: 1.5rem;
}
.thank-you .captions {
  text-align: center;
}
.thank-you .captions .title {
  margin-top: 2.5rem;
}
.thank-you .captions .title h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
.thank-you .captions .description {
  margin-top: 1rem;
}
.thank-you .captions .description p {
  line-height: 1.5rem;
  color: hsl(217deg, 12%, 63%);
}

.attribution {
  position: absolute;
  font-size: 11px;
  bottom: 10px;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=index.css.map */
