@use "variables" as *;
@use "functions" as *;

@mixin breakpoint-up($size) {
  @media screen and (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media screen and (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin card-container {
  max-width: 400px;
  background: linear-gradient(to bottom right, $dark-blue, $very-dark-blue);
  padding: 2rem;
  border-radius: 1rem;
  @content;
}
